*{
    margin: 0px;
    padding: 0px;
}

.title{
    text-align: center;
}
th,td{
    width: 150px;
    border: 1px solid #000000;
}

#table{
    margin: 0 auto;
    /*border-bottom: 1px solid #000000;*/
    /*border-top: 1px solid #000000;*/
}